<%= form_with model: [@restaurant, @beverage], class: 'form' do |f| %>
    <div class="input_container">
        <%= f.label :name, class: 'input_label' %>
        <%= f.text_field :name, class: 'input' %>
    </div>

    <div class="input_container">
        <%= f.label :description, class: 'input_label' %>
        <%= f.text_area :description, class: 'input' %>
    </div>

    <div class="input_container">
        <%= f.label :calories, 'Calorias (não obrigatório)', class: 'input_label' %>
        <%= f.number_field :calories, min: 0, step: 1, class: 'input' %>
    </div>

    <div class="input_container">
        <%= f.label :is_alcoholic, class: 'input_label'  %>
        <%= f.check_box :is_alcoholic %>
    </div>

    <div class="input_container">
        <%= f.label :picture, class: 'input_label'  %>
        <%= f.file_field :picture %>
    </div>

    <%= f.submit class:'form_button' %>
<% end %>