<section class="flex flex-col gap-10">
    <h2>
        <%= current_user.restaurant.brand_name%>
    </h2>

    <div class="flex items-center gap-10">
        <h3><%= Restaurant.human_attribute_name :restaurant_operating_hours %></h3>

        <% if current_user.owner? %>
            <%= link_to '+ Criar Horário', new_restaurant_restaurant_operating_hour_path(current_user.restaurant), class: 'outline_button' %>
        <% end %>
    </div>

    <% if @restaurant.restaurant_operating_hours.present? %>
        <ul class="flex flex-col gap-10">
            <% @operating_hours_per_day.each_pair do |weekday, operating_hours | %>
                <li class="border-l-2 border-projectPurple pl-4 flex flex-col gap-4">
                    <h3 class="font-bold text-projectPurple"><%=  t(weekday) %></h3>

                    <% operating_hours.each do |operating_hour| %>
                        <p class="font-medium"><%=  l(operating_hour.start_time, format: :hours) %> às <%=  l(operating_hour.end_time, format: :hours) %> - <span class="font-bold <%= operating_hour.opened? ? 'text-projectGreenDark' : 'text-projectRed' %>"><%=  t(operating_hour.status) %></span></p>
                    <% end %>
                </li>
            <% end %>
        </ul>
    <% else %>
        <p>Ainda não há horários cadastrados.</p>
    <% end %>

</section>