<%= link_to '< Voltar', request.referer, class: "h-fit w-fit underline decoration-2 underline-offset-8 decoration-projectPurple mb-10 font-bold" %>

<h2>Criar Horário de Funcionamento</h2>

<%= form_with model:[@restaurant, @restaurant_operating_hour], class: 'form'  do | f |  %>
    <div class="flex gap-4">
        <div class="flex flex-col w-full">
            <%= f.label :start_time %>
            <%= f.time_field :start_time, class: '' %>
        </div>

        <div class="flex flex-col w-full">
            <%= f.label :end_time %>
            <%= f.time_field :end_time, class: '' %>
        </div>
    </div>

    <div class="flex flex-col gap-2">
        <%= f.label :status %>
        <%= f.collection_select :status, RestaurantOperatingHour.statuses.each_pair.map { |key, value| [I18n.t("#{key}"), value] }, :second, :first %>
    </div>

    <div class="flex flex-col gap-2">
        <%= f.label :weekday %>
        <%= f.collection_select :weekday, RestaurantOperatingHour.weekdays.each_pair.map { |key, value| [I18n.t("#{key}"), value] }, :second, :first %>
    </div>

    <%= f.submit class: 'form_button' %>
<% end %>