<h2>Horários de Funcionamento</h2>

<%= form_with model:[@restaurant, @restaurant_operating_hour]  do | f |  %>
    <%= f.label :start_time %>
    <%= f.time_field :start_time %>

    <%= f.label :end_time %>
    <%= f.time_field :end_time %>

    <%= f.label :status %>
    <%= f.collection_select :status, RestaurantOperatingHour.statuses.each_pair.map { |key, value| [I18n.t("#{key}"), value] }, :second, :first %>

    <%= f.label :weekday %>
    <%= f.collection_select :weekday, RestaurantOperatingHour.weekdays.each_pair.map { |key, value| [I18n.t("#{key}"), value] }, :second, :first %>

    <%= f.submit %>
<% end %>


<!-- <%= form_with url: restaurant_restaurant_operating_hours_path, method: :post do | f |  %>
        <div data-controller="fields">
            <%= f.label :start_time %>
            <%= f.time_field :start_time %>

            <%= f.label :end_time %>
            <%= f.time_field :end_time %>

            <%= f.label :status %>
            <%= f.collection_select :status, RestaurantOperatingHour.statuses.keys.map { |key| [I18n.t("#{key}"), key] }, :second, :first %>

            <%= f.label :weekday %>
            <%= f.collection_select :weekday, RestaurantOperatingHour.weekdays.keys.map { |key| [I18n.t("#{key}"), key] }, :second, :first %>
            <button data-fields-target="add" data-action="click->fields#addOperationTime">+</button>
    </div>
    <%= f.submit %>
<% end %> -->