<h2>Boas vindas ao PaLevá!</h2>

<% if user_signed_in? && current_user.has_restaurant? %>
    <section>
        <p>Meu Restaurante</p>

        <p><%= current_user.restaurant.brand_name%></p>
        <p><%= Restaurant.human_attribute_name :restaurant_operating_hours %></p>

        <% if @restaurant.restaurant_operating_hours.present? %>
            <% @restaurant.restaurant_operating_hours.each do |op_hour| %>
                <p><%=  t(op_hour.weekday) %> - <%=  l(op_hour.start_time, format: :hours) %> às <%=  l(op_hour.end_time, format: :hours) %>: <%=  t(op_hour.status) %></p>
            <% end %>
        <% else %>
            <p>Ainda não há horários cadastrados.</p>
        <% end %>

        <%= link_to 'Criar Horário', new_restaurant_restaurant_operating_hour_path(current_user.restaurant) %>
    </section>
<% else %>
    <section>
        <p>Para acessar o sistema, faça login ou crie uma conta</p>
        <%= link_to 'Criar Conta', new_user_registration_path %>
        <%= link_to 'Entrar', new_user_session_path %>
    </section>
<% end %>