<h2>Adicionar Característica - <%= @dish.name %></h2>

<% if @tags.empty? %>
    <p class="mt-10">Não há Tags disponíveis ou todas Tags já foram assignadas a este prato</p>
<% else %>
    <%= form_with(url: restaurant_dish_assign_tag_path(@restaurant, @dish), class: 'form') do |f| %>
        <div class="input_container">
            <%= f.label :tag_id, 'Tags Disponíveis', class: 'input_label' %>
            <%= f.collection_select :tag_id, @tags, :id, :name %>
        </div>

        <%= f.submit 'Adicionar', class: 'form_button'%>
    <% end %>
<% end %>
