<div class="flex justify-between items-center">
    <h2>Pratos do Meu Restaurante</h2>
    <%= link_to '+ Criar Prato', new_restaurant_dish_path(current_user.restaurant), class: 'outline_button' %>
</div>

<section id="filters" class="my-10 border-y border-projectPurple p-2 flex justify-between items-center">
    <div id="filters-container" class="flex flex-wrap gap-2 items-center">
        <span class="font-bold text-projectPurple">Filtrar:</span>

        <%= link_to 'Todos', restaurant_dishes_path(@restaurant, @dish), class: params.has_key?(:filter) ? 'outline_button rounded-3xl p-[6px]' : 'form_button rounded-3xl p-[6px] my-0' %>

        <% @restaurant.tags.each do |tag| %>
            <%= link_to tag.name, restaurant_dishes_path(@restaurant, @dish, filter: tag.name), class: params[:filter] == tag.name ? 'form_button rounded-3xl p-[6px] mt-0' : 'outline_button rounded-3xl p-[6px]' %>
        <% end %>
    </div>

    <div id="filters-controls" class="flex gap-2 min-w-fit">
        <%= link_to '+ Cadastrar Tag', new_restaurant_tag_path(@restaurant), class: 'outline_button min-w-fit max-h-fit' %>
        <%= link_to 'Remover Tags', restaurant_exclude_tag_path(@restaurant), class: 'outline_button min-w-fit max-h-fit' %>
    </div>
</section>

<% if @dishes.empty? %>
    <% if params.has_key?(:filter) %>
        <p class="">Ainda não há pratos cadastrados para este filtro.</p>
    <% else %>
        <p class="">Ainda não há pratos cadastrados para o seu restaurante.</p>
    <% end %>
<% else %>
    <ul class=" flex flex-col gap-4 list-disc marker:text-projectPurple list-inside	">
        <% @dishes.each do |dish| %>
            <%= link_to restaurant_dish_path(@restaurant.id, dish.id) do %>
                <li class="hover:cursor-pointer hover:underline hover:decoration-projectPurple  hover:decoration-2 hover:underline-offset-2 transition-transform">
                    <span class="font-bold"><%= dish.name%></span> - <%= I18n.t(dish.status) %>
                </li>
            <% end %>
        <% end %>
    </ul>
<% end %>