<h2><%= @dish.name%></h2>


<article class="my-10 flex flex-col max-w-5xl border-2 border-projectPurpleLighter rounded-xl p-5 relative overflow-hidden">
    <section class="flex justify-between">
        <section class="flex flex-col gap-2">
            <span class="font-bold text-lg text-projectPurple"><%= Dish.human_attribute_name :status %></span>
            <p>
                <% if @dish.active? %>
                    <%= I18n.t('active') %>
                <% else %>
                    <%= I18n.t('inactive') %>
                <% end %>
            </p>

            <span class="font-bold text-lg text-projectPurple"><%= Dish.human_attribute_name :description %></span>
            <p>
                <%= @dish.description%>
            </p>

            <span class="font-bold text-lg text-projectPurple"><%= Dish.human_attribute_name :calories %></span>
            <p>
                <%= @dish.calories%>
            </p>
        </section>

        <picture>
            <figcaption class="font-bold text-lg text-projectPurple text-center">Foto do Prato</figcaption>
            <% if @dish.picture.present? %>
                <div class="w-60 h-60">
                    <%= image_tag @dish.picture %>
                </div>
            <% else %>
                <figcaption>Este Prato ainda não possui uma foto :(</figcaption>
            <% end %>
        </picture>

        <section class="flex flex-col gap-2 justify-start max-w-5xl items-end">
            <span class="font-bold text-lg text-projectPurple">Opções</span>
            <% if @dish.active? %>
                <%= button_to 'Desativar Prato', deactivate_restaurant_dish_path(@restaurant.id, @dish.id), method: :post, class: 'outline_button w-full text-center' %>
            <% else %>
                <%= button_to 'Ativar Prato', activate_restaurant_dish_path(@restaurant.id, @dish.id), method: :post, class: 'outline_button w-full text-center' %>
            <% end %>
            <%= link_to 'Alterar Prato', edit_restaurant_dish_path(@restaurant.id, @dish.id), class: 'outline_button w-full text-center' %>
            <%= button_to 'Remover Prato', restaurant_dish_path(@restaurant.id, @dish.id), method: :delete, class: 'outline_button w-full bg-projectRed text-projectWhite border-0', form: { class: 'w-full' } %>
        </section>
    </section>

    <hr class="-mx-5 mt-10 border border-projectPurple border-dashed" />

    <section class="flex flex-col bg-[#e4e4e8] py-10 px-5 -mx-5 -mb-5 font-mono">
        <header class="flex justify-between">
            <h3 class="font-bold text-[22px] text-projectPurple">Porções:</h3>
            <%= link_to '+ Cadastrar Porção', new_restaurant_dish_serving_path(@restaurant, @dish), class: 'outline_button' %>
        </header>

        <% if @dish.servings.empty? %>
            <p class="mt-4">
                Nenhuma porção cadastrada para <span class="font-bold text-projectPurple"><%= @dish.name %></span>
            </p>
        <% else %>
            <ul class="list-disc list-inside marker:text-projectPurpleLighter mt-4">
            <% @dish.servings.each do | serving | %>
                <li class="w-1/2">
                    <span class="font-bold"><%= serving.description%></span>
                    - <%= number_to_currency(serving.current_price, precision: 2) %>
                    <%= link_to 'Editar', edit_restaurant_dish_serving_path(@restaurant, @dish, serving), class: 'outline_button p-2' %>
                </li>
            <% end %>
            </ul>
        <% end %>
    </section>
</article>