<%= link_to '< Voltar', request.referer, class: "h-fit w-fit underline decoration-2 underline-offset-8 decoration-projectPurple mb-10 font-bold" %>

<h2><%= @discount.name%></h2>

<section class="flex justify-between mt-10">
    <section class="flex flex-col gap-2 text-lg">
        <p>
            <span class="font-bold">Porcentagem de Desconto: </span>
            <%= number_with_precision(@discount.percentage, precision: 2) %>%
        </p>

        <p>
            <span class="font-bold">Data de Início: </span>
            <%= l(@discount.start_date) %>
        </p>

        <p>
            <span class="font-bold">Data de Fim: </span>
            <%= l(@discount.end_date) %>
        </p>

        <p>
            <span class="font-bold">Limite de Usos (número de Pedidos): </span>
            <%= @discount.limit_of_uses %>
        </p>

        <p>
            <span class="font-bold">Número de descontos já usados: </span>
            <%= @discount.number_of_uses %>
        </p>
    </section>

    <section class="flex flex-col gap-2 justify-start max-w-5xl items-end">
        <span class="font-bold text-lg text-projectPurple">Opções</span>
        
        <%= link_to 'Adicionar Porção (Prato)', restaurant_discount_new_dish_serving_path(@restaurant, @discount), class: 'outline_button w-full' %>
        <%= link_to 'Adicionar Porção (Bebida)', restaurant_discount_new_beverage_serving_path(@restaurant, @discount), class: 'outline_button w-full' %>
    </section>
</section>

<section class="flex flex-col gap-2 text-lg mt-10">
    <h3 class="text-projectPurple">Itens adicionados ao Desconto:</h3>

    <ul class="mt-10 flex flex-col gap-4 list-disc marker:text-projectPurple list-inside">
        <% @discount.discounted_servings.each do | discounted_serving | %>
            <li class="w-[70%] flex items-center justify-between border-l border-projectPurple">
                <p class="ml-4">
                    <span class="font-bold"><%= discounted_serving.serving.full_description %></span>
                </p>
        <% end %>
    </ul>
</section>

<section class="flex flex-col gap-2 text-lg mt-10">
    <h3 class="text-projectPurple">Pedidos que usaram este desconto:</h3>

    <% if @discount.used_discounts.count == 0 %>
        <p class="font-bold text-lg mt-4">
    <% else %>
        <% @discount.orders.each do |order| %>
            <ul class="mt-4 flex flex-wrap gap-4">
                <%= link_to restaurant_order_path(@restaurant, order) do %>
                    <li class="p-4 border-2 border-projectPurple rounded-lg max-w-fit flex items-center justify-center">
                        <p class="font-bold text-lg">
                            <span class="mr-1">Pedido</span>
                            <span class="text-projectGreen"> #</span><span class="text-projectPurple"><%= order.code %></span>
                        </p>
                    </li>
                <% end %>
            </ul>
        <% end %>
    <% end %>
</section>