<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Paleva App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col bg-[#F2F3F5]">
    <header class="flex justify-between border-b-2 border-blue-400 items-center bg-[#FFFFFF] h-20 p-5">
        <h1>PaLevá</h1>
        <nav>
            <% if user_signed_in? %>
                <p>Olá, <%= current_user.name %></p>
                <%= button_to 'Sair', destroy_user_session_path, method: :delete %>

                <% if current_user.has_restaurant? %>
                    <%= link_to 'Pratos', restaurant_dishes_path(current_user.restaurant) %>
                    <%= link_to 'Bebidas', restaurant_beverages_path(current_user.restaurant) %>
                <% end %>
            <% end %>
        </nav>
    </header>
    <% if flash[:notice] %>
        <p class="notice"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
        <p class="alert"><%= alert %></p>
    <% end %>
    <%# <main class="container mx-auto mt-28 px-5 flex"> %>
    <main class="flex flex-col mx-auto mt-20">
        <%= yield %>
    </main>
  </body>
</html>
