<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "PaLevá App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <%# <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml"> %>
    <%= favicon_link_tag asset_path('winds.svg') %>
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="relative bg-gradient-to-b from-[#F5F5F9] to-[#E6E6F4] min-h-screen text-projectBlack font-sans">
    <header class="site-header gap-4">
        <%= link_to root_path do %>
            <h1 class="w-20 lg:w-auto"><%= image_tag "PaLeva_Logo"%></h1>
        <% end %>

        <% if user_signed_in? %>
            <div class= "flex items-center justify-end flex-1 gap-4">
                <% if current_user.has_restaurant? %>
                    <%= form_with url: restaurant_menu_items_search_path(current_user), class: 'flex flex-col items-center flex-wrap gap-2', method: :get do | f | %>
                        <%= f.label :query, 'Procurar no Menu', class: 'input_label text-center' %>
                        <div id="menu-search" class="flex items-center justify-center flex-wrap gap-4">
                            <%= f.search_field :query, placeholder: 'Ex: Pizza, Caipirinha...', class: 'input w-52 lg:w-auto' %>
                            <%= f.submit 'Buscar', class: 'form_button mt-0' %>
                        </div>
                    <% end %>

                    <%= render 'layouts/user_links' %>
                <% end %>

                <div class="min-w-fit">
                    <p class="text-right">Olá, <span class="font-bold text-projectPurple"><%= current_user.name %></span></p>
                    <div class="flex w-full justify-end">
                        <%= button_to 'Sair', destroy_user_session_path, method: :delete, class:'hover:cursor-pointer hover:underline hover:decoration-projectPurple hover:decoration-2 hover:underline-offset-2 transition-transform' %>
                    </div>
                </div>
            </div>
        <% end %>
    </header>
    <% if flash[:notice] %>
        <p class="notice_flash"><%= notice %></p>
    <% end %>
    <% if flash[:alert] %>
        <p class="alert_flash"><%= alert %></p>
    <% end %>
    <%# <main class="container mx-auto mt-28 px-5 flex"> %>
    <main class="site-main overflow-hidden">
        <%= yield %>
    </main>
  </body>
</html>
